In [25]:
import pandas as pd
from shapely.geometry import Point, LineString

In [2]:
df = pd.read_csv('20200330_TripsEvenInterpolation.csv')

In [3]:
df.head()

          MMSI  trip_id         BaseDateTime        LAT        LON
0  100000001.0  65583.0  2017-07-20 19:24:09  35.360000 -75.479970
1  100000001.0  65583.0  2017-07-20 19:25:09  35.365213 -75.479134
2  100000001.0  65583.0  2017-07-20 19:26:09  35.370452 -75.478146
3  100000001.0  65583.0  2017-07-20 19:27:09  35.375691 -75.477155
4  100000001.0  65583.0  2017-07-20 19:28:09  35.380922 -75.476093

In [5]:
sample = df[df['trip_id']==65583.0]
sample.head()

          MMSI  trip_id         BaseDateTime        LAT        LON
0  100000001.0  65583.0  2017-07-20 19:24:09  35.360000 -75.479970
1  100000001.0  65583.0  2017-07-20 19:25:09  35.365213 -75.479134
2  100000001.0  65583.0  2017-07-20 19:26:09  35.370452 -75.478146
3  100000001.0  65583.0  2017-07-20 19:27:09  35.375691 -75.477155
4  100000001.0  65583.0  2017-07-20 19:28:09  35.380922 -75.476093

In [8]:
lat = sample['LAT'].tolist()
lon = sample['LON'].tolist()
timeStamp = sample['BaseDateTime'].tolist()

In [44]:
windowSize = 30
output = pd.DataFrame(columns=['StartTime','EndTime','line'])
# output.columns = ['time','LAT','LON']
for index in range(len(lat)-windowSize):
    latWindow = lat[index:index+30]
    lonWindow = lon[index:index+30]
    StartTime = timeStamp[index]
    EndTime = timeStamp[index+30]
    line = LineString([Point(i) for i in list(zip(latWindow,lonWindow))])
    temp = pd.DataFrame({'StartTime':[StartTime],'EndTime':[EndTime],'line':[line]})
    output = pd.concat([output,temp])
    index += 1

In [45]:
output

,StartTime,EndTime,line
0,2017-07-20 19:24:09,2017-07-20 19:54:09,"LINESTRING (35.36 -75.47996999999999, 35.36521..."
0,2017-07-20 19:25:09,2017-07-20 19:55:09,LINESTRING (35.3652131147541 -75.4791339344262...
0,2017-07-20 19:26:09,2017-07-20 19:56:09,LINESTRING (35.37045161073825 -75.478145906040...
0,2017-07-20 19:27:09,2017-07-20 19:57:09,LINESTRING (35.37569053691275 -75.477155302013...
0,2017-07-20 19:28:09,2017-07-20 19:58:09,"LINESTRING (35.3809225 -75.47609250000001, 35...."
0,2017-07-20 19:29:09,2017-07-20 19:59:09,"LINESTRING (35.3861475 -75.4749575, 35.3913775..."
0,2017-07-20 19:30:09,2017-07-20 20:00:09,LINESTRING (35.39137758241758 -75.473819670329...
0,2017-07-20 19:31:09,2017-07-20 20:01:09,LINESTRING (35.39661274725275 -75.472679010989...
0,2017-07-20 19:32:09,2017-07-20 20:02:09,LINESTRING (35.40177201680672 -75.471499831932...
0,2017-07-20 19:33:09,2017-07-20 20:03:09,"LINESTRING (35.40693 -75.47032, 35.41207666666..."
0,2017-07-20 19:34:09,2017-07-20 20:04:09,LINESTRING (35.41207666666667 -75.469233333333...
0,2017-07-20 19:35:09,2017-07-20 20:05:09,LINESTRING (35.41723666666667 -75.468143333333...
0,2017-07-20 19:36:09,2017-07-20 20:06:09,"LINESTRING (35.42241 -75.46705, 35.427525 -75...."
0,2017-07-20 19:37:09,2017-07-20 20:07:09,"LINESTRING (35.427525 -75.46605, 35.43264 -75...."
0,2017-07-20 19:38:09,2017-07-20 20:08:09,"LINESTRING (35.43264 -75.46505000000001, 35.43..."
0,2017-07-20 19:39:09,2017-07-20 20:09:09,LINESTRING (35.43775333333333 -75.464136666666...
0,2017-07-20 19:40:09,2017-07-20 20:10:09,LINESTRING (35.44290666666667 -75.463296666666...
0,2017-07-20 19:41:09,2017-07-20 20:11:09,"LINESTRING (35.4481 -75.46253, 35.453229670329..."